[flake8]
max-line-length = 99
exclude = doc/*, build/*, dist/*, installdir/*, src/ceasiompy/cpacs2gmsh/**, src/ceasiompy/vsp2cpacs/**, src/ceasiompy/aeroframe/**, src/ceasiompy/skinfriction/**, src/ceasiompy/thermodata/**, src/ceasiompy/dynamicstability/**
extend-select = N

[BASIC]
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
