# Ignore all logfiles
*.log

# Ignore all .pyc files
*.pyc

# Ignore all SU2 meshes (.su2)
*.su2

# Ignore all pycache files
__pycache__/

 # Ignore temp folder
/temp

# Ignore CPACS file
/test/CPACSfiles

# Ignore Module which are not ready
/lib/ToDevelopModules

# Ignore ToolInput and ToolOutput
ToolInput.xml
ToolInput.smx
ToolInput.cfg

ToolOutput.xml
ToolOutput.smx
ToolOutput.cfg
forces_breakdown.dat
*.out
*mtomPrediction.png
*_Cog.png


# Ignore temp file
/ceasiompy/SU2Run/tmp/*
/ceasiompy/SUMOAutoMesh/tmp/*

# Vim temporary files
*.swp

# Sphinx
build/

# Dolphin file manager
.directory
