# This file lists external packages required to run and develop CEASIOMpy.
#
# * Only top-level requirements are listed here.
# * You can use this file to set up a Conda environment:
#
#       conda env create -f environment.yml
#
# See also: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

# For mac users install MiniForge3 (source ~/miniforge3/bin/activate) and use:
#       CONDA_SUBDIR=osx-64 conda env create -f environment.yml

# Update conda with: conda update -n base -c conda-forge conda

name: ceasiompy

channels:
  - dlr-sc
  - conda-forge
  - defaults

dependencies:
  # PYTHON versioning
  - python=3.11.11

  - pip

  # CPACS visualization
  - cpacscreator=0.2

  # CI-CD workflows
  - codecov
  - coverage
  - pytest-cov

  # CODE formater
  - flake8

  # COMPILATION libraries
  - clang
  - libgfortran

  - xmltodict

  - ipython
  - ipywidgets
  - python-kaleido
  - pythreejs

  # OPIMIZATION
  - openmdao
  - scipy
  - numpy

  # DATA VISUALIZATION
  - plotly
  - pandas

  # C++ libraries
  - boost
  - libzip

  # PENTAGROW needs an older version (1.10.X)
  - hdf5 #=1.10.6

  # GEOMETRY
  - cgns
  - conda-forge::trimesh

  - pip:
    # STREAMLIT related
    - streamlit
    - streamlit-autorefresh
    - watchdog  # For better performance

    # Visualization & plotting
    - altair
    - matplotlib
    - markdownpy
    - numpy-stl
    - pyvista
    - stpyvista
    - vtk

    # Development
    - black
    - pytest

    # Core libraries / utilities
    - ambiance
    - Cython
    - defusedxml
    - pydantic>=2.11.3
    - psutil

    # CPACS
    - cpacspy>=0.2.0
    - cpacscreator>=0.2
    - framat>=0.5
    - om-pycycle>=4.3.0
    - pycycle>=0.0.8

    # CPACS2GMSH
    - gmsh>=4.13.1

    # DYNAMIC STABILITY
    - panelaero

    # Optimization / modelling
    - scikit-optimize>=0.10.2
    - shapely>=2.1.0
    - smt>=2.9.2

    # For STL geometry visualization
    - cascadio
