# This file lists external packages required to run and develop CEASIOMpy.
#
# * Only top-level requirements are listed here.
# * You can use this file to set up a Conda environment:
#
#       conda env create -f environment.yml
#
# See also: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

name: ceasiompy

channels:
  - dlr-sc
  - conda-forge
  - defaults

dependencies:
  - python=3.8
  - cpacscreator=0.1
  - clang=13.0.0
  - codecov=2.1.11
  - coverage=6.2
  - flake8=4.0.1
  - matplotlib=3.5.2
  - numpy=1.21.4
  - openmdao=3.18.0
  - pandas=1.4.2
  - plotly=5.10.0
  - pip=21.3.1
  - pytest-cov=3.0.0
  - xmltodict=0.12.0
  - vtk=9.0.1

  - pip:
    - ambiance==1.3.0
    - black==22.3
    - cpacspy==0.1.2
    - cython==0.29.30
    - gmsh==4.10.3
    - pytest==7.1.2
    - smt==1.2.0
    - streamlit==1.12.0
    - streamlit-autorefresh
