# This file lists external packages required to run and develop CEASIOMpy.
#
# * Only top-level requirements are listed here.
# * You can use this file to set up a Conda environment:
#
#       conda env create -f environment.yml
#
# See also: https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

# For mac users install MiniForge3 (source ~/miniforge3/bin/activate) and use:
#       CONDA_SUBDIR=osx-64 conda env create -f environment.yml
#
# Apple Silicon (osx-arm64):
# - `cpacscreator` is not available for `osx-arm64` on the configured channels.
# - Use `condaenv.sh` bash script.

# Update conda with: conda update -n base -c conda-forge conda

name: ceasiompy

channels:
  - dlr-sc
  - conda-forge
  - defaults

dependencies:
  - pip>=25.0.1
  - python>=3.11
  - ipython>=8.30.0
  - ipywidgets>=8.1.5

  - dlr-sc::cpacscreator>=0.2
  - conda-forge::freetype>=2.13.0

  # Testing and code quality
  - clang>=20.1.2
  - codecov>=2.1.11
  - coverage>=7.6.9
  - flake8>=7.1.1

  - numpy
  - pandas
  - openmdao
  - plotly>=5.24.1
  - pytest-cov>=6.0.0
  - python-kaleido>=0.2.1
  - pythreejs>=2.4.2
  - scipy>=1.13.1
  - xmltodict>=0.14.2
  - hdf5>=1.10.6  # Pentagrow needs an older version (1.10.X)
  - libgfortran>=14.2.0
  - cgns>=4.2.0
  - expat>=2.7.0  # Should be already installed
  - boost>=1.85.0
  - libzip>=1.9.2

  # OpenVSP
  - conda-forge::sphinx

  # CEASIOMpyLight
  - conda-forge::fastapi
  - conda-forge::uvicorn
  - conda-forge::pydantic

  - conda-forge::altair

  - pip:
    - ambiance>=1.3.1
    - black>=25.1.0
    - cpacspy>=0.2.0
    - Cython>=3.0.12
    - gmsh>=4.13.1
    - numpy-stl>=3.2.0
    - markdownpy>=0.1.4
    - matplotlib>=3.10.1
    - om-pycycle>=4.3.0
    - pycycle
    - psutil>=7.0.0
    - pytest>=8.3.4
    - pyvista>=0.44.2
    - shapely>=2.1.0
    - smt>=2.9.2
    - stpyvista>=0.1.4
    - streamlit>=1.53.0
    - vtk>=9.3.0
    - scikit-optimize>=0.10.2
    - framat>=0.5
    - panelaero
    - defusedxml
    - jenn>=1.0.8
    - stripe
    - watchdog
    - streamlit_nested_layout
    - httpx
    # - gmshairfoil2d>=0.2.3
