name: Integration tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 2 * * 1'  # every Monday at 2:00am

env:
  CACHE_NUMBER: 0  # increase to reset cache manually

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.11

    - name: Setup Miniforge3
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Miniforge3
        miniforge-version: latest
        activate-environment: ceasiompy
        use-mamba: false
        conda-version: 25.3.1

    - name: Set cache date # With that, cache will be updated every day
      run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

    - uses: actions/cache@v4
      with:
        path: /usr/share/miniconda3/envs/ceasiompy
        key: ubuntu-latest-conda-${{ env.DATE }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('environment.yml') }}
      id: cache

    - name: Update environment
      run: conda env update -n ceasiompy -f environment.yml
      if: steps.cache.outputs.cache-hit != 'true'

    - name: Install ceasiompy with pip
      shell: bash -l {0}
      run: pip install -e .

    - name: Install libGLU
      run: sudo apt-get install -y libglu1-mesa-dev

    - name: Install AVL
      shell: bash -l {0}
      run: |
        sudo bashinstallation/Ubuntu/install_pyavl.sh

    - name: Install SU2
      shell: bash -l {0}
      run: |
        sudo bash installation/Ubuntu/install_su2_without_mpi.sh

    - name: Install Pentagrow
      shell: bash -l {0}
      run: |
        sudo bash installation/Ubuntu/install_pentagrow.sh

    - name: Run integration tests
      shell: bash -l {0}
      run: |
        source ~/.bashrc
        pytest -v ./tests --cov=ceasiompy --cov-report xml:coverage.xml -m "not gui"

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: integrationtests
        fail_ci_if_error: true
        verbose: true

    - name: Upload logs
      uses: actions/upload-artifact@v4
      with:
        name: integration-test-logs
        path: tests/workflow_tests/**/ceasiompy.log

    # - name: Setup tmate session to SSH to the remote machine (for debugging)
    #   if: ${{ failure() }}
    #   uses: mxschmitt/action-tmate@v3
    #   timeout-minutes: 15